.div-diag {
  transform: rotate(10deg);
  overflow: hidden;
  background-size: cover;
  height: 400px;
  width: 900px;
  left: 200px;
  top: 150px;
  opacity: 0.3;
  position: relative;
  background: linear-gradient(90deg, black 5%, transparent 90%);
}

p {
  margin: 0;
}


.home-header {
  position: relative;
  height: 600px;
  width: 90%;
  margin: -25% auto;

}

.home-header > h1 {
  font-family: 'Lobster', cursive;
  color: white;
  position: relative;
  position: absolute;
  top: 20px; left: 150px;
  font-size: 200px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.home-header > h2 {
  // background-color: red;
  position: absolute;
  top: 300px; left: 150px;
  width: 600px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: left;
}

.home-header > p {
  // background-color: grey;
  position: absolute;
  top: 400px; left: 150px;
  color: white;
}

.container-btr-top-page {
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 30px;
  right: 160px;
}

.bg2-text {
  width: 70%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}




#home-parallax{
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }

  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .bgimg-1 {
    background-image: url("https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    min-height: 100vh;
  }

  .bgimg-2 {
    background-image: url("https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    min-height: 700px;
  }

  .bgimg-3 {
    background-image: url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    min-height: 400px;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }


  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 14px;
    font-size: 20px;
    letter-spacing: 8px;
  }

  .btn-login {
    text-decoration: none;
    color: white;
  }

  h3 {
    letter-spacing: 5px;
    margin: 0;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
  }
  .container_cards {
    margin: auto;
    align-content: center;
    width: 80%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5rem;
  }

  .container_cards > div {
    justify-content: space-arround;
    background-color: white;

  }

  .wrapper-user-story {
    margin: auto;
    align-content: center;
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 5rem;
  }

  .wrapper-user-story > div {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    top: 15px;
  }

  img.music-icons {
    width: 50px;
    margin-top: -70px;
  }

  .p1, .p2, .p3 {
    text-align: center;
  }
}

.p-middle-page * {
  font: 20px "Lato", sans-serif;
  width: 70%;
  color: #777;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: rows;
}

.steps-width {
  width: 300px;
}

.homepage-steps p {
  color: #777;
}

.homepage-steps h3 {
  color: #777;
}







