// Import page-specific CSS files here.
@import "home";

.fixed-offset {
  top: 56px;
}

.filter-margin {
  margin-bottom: 55px;
}

#events-index {
  background-color: #100c18;
}

.event-container {
  width: 900px;
  margin: auto;
}

.event-background {
  background-color: #100c18;
}

.form-control {
  background-color: black;
  margin: 10px;
  width: 180px;
}

.event-container h3 {
  color: grey;
  padding-top: 15px;
}

.event {
  display: flex;
  align-items: left;
  margin-top: 16px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  padding-bottom: 15px;
  border-radius: 15px;
}

.events {
  margin-top: 20px;
}

.event .event-content {
  flex-grow: 1;
  padding: 0 24px;
}

.event-right {
  margin-top: 20px;
}

.event .event-header {
  flex-grow: 1;
  padding: 0 24px;
  margin-bottom: 30px;
  margin-top: 5px;
}

.event-content img {
  margin-right: 12px;
}

.event p {
  margin: 0;
  line-height: 1.4;
}

.event small {
  color: #999999;
  font-weight: bold;
}
.event .event-action {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.event:hover .event-action {
  opacity: 1;
}

.event .event-action a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.event .event-action a:hover {
  color: #555555;
}
