#events-show {
  background-color: #0D0D0D;
}

.show-container {
  width: 900px;
  margin: auto;
}

.show-container h3 {
  color: grey;
  padding-top: 15px;
}

.event-container {
  flex-grow: 1;
}

.contact-container {
  flex-basis: 100px;
}

.show-event {
  align-items: left;
  margin-top: 16px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  padding-bottom: 15px;
  border-radius: 15px;
}

.chatroom {
  background: #f1f3f4;
}

.events {
  margin-top: 20px;
}

