<div class="d-flex flex-row align-items-center mx-2">
  <div class="event-avatar">
    <!-- <img src='https://res.cloudinary.com/dh8tpzykj/image/upload/v1582203695/avatar_empty_ghdihw.png' class="avatar-medium" /> -->
    <i class="far fa-question-circle" style="font-size: 45px;background-color: white;border-radius: 50%;color: #848484;"></i>
  </div>

  <div class="instrument-card vacant-card">
    <h3><strong><%= instrument %></strong></h3>
    <p>Vacant</p>
  </div>
</div>
