<div class="d-flex vh-100">
  <div class="d-flex flex-column justify-between align-items-center" id="col-left">
    <h3>Meds Reminder</h3>
    <img src="images/medecine.svg" alt="Logo Meds Reminder">
    <p>Made with love @Le Wagon</p>
  </div>

  <div class="d-flex flex-column f-grow" id="col-right">
    <h1 class="mx-auto">Create an account</h1>

    <form action="#" class="d-flex flex-column mx-auto">
      <div class="form-group d-flex flex-column">
        <label for="email" required>Email</label>
        <input type="email" id="email" placeholder="Email">
      </div>
      <div class="d-flex justify-between"  id="name">
        <div class="form-group flex-column d-flex">
          <label for="first-name" required>First Name</label>
          <input type="text" id="first-name" placeholder="First Name">
        </div>
        <div class="form-group flex-column d-flex">
          <label for="last-name" required>Last Name</label>
          <input type="text" id="last-name" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group flex-column d-flex">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password">
      </div>
      <input type="submit" value="Continue" class="btn-submit">
    </form>

  </div>
</div>
