<div id="home-parallax">

  <div class="bgimg-1">
    <div class="caption">
      <div class="home-header">
        <h1>Meet up with others musicians near you and share your passion for music.</h1>
        <p>Solut will help you build long-lasting relationships for musicians of all levels.</p>
        <br>
        <div class="login-btn">
          <span class="border">Login</span>
        </div>
      </div>
    </div>
  </div>

  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <!-- <h3 style="text-align:center;">Parallax Demo</h3> -->
    <div class="wrapper-user-story">
      <div class="p1">
        <h3>Meet new people</h3>
        <br>
        <p>Bored by playing alone? Find here perfect matesto express your musicality</p>
      </div>
      <div class="p2">
        <h3>Play together</h3>
        <br>
        <p>Need an upright bass player, guitarist or tuba player? you can post here to find musicians who are interested in collaborating.</p>
      </div>
      <div class="p3">
        <h3>Learn together</h3>
        <br>
        <p>Join, practice and share your experience</p>
      </div>
    </div>
  </div>

  <div class="bgimg-2">
    <div class="caption">
      <h3>Grow your circle of fellow like-minded musicians and your knowledge</h3>
      <p>Your emotions deserve their music, Solut will help you.</p>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <div class="container_cards">
        <div class="card-trip" id="card1">
          <div class="card-trip-infos">
            <div>
              <h2>Top annoucement 1</h2>
              <p>Short description here!</p>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
          </div>
        </div>
        <div class="card-trip" id="card2">
          <div class="card-trip-infos">
            <div>
              <h2>Top annoucement 2</h2>
              <p>Short description here!</p>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
          </div>
        </div>
        <div class="card-trip" id="card3">
          <div class="card-trip-infos">
            <div>
              <h2>Top annoucement 3</h2>
              <p>Short description here!</p>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bgimg-3">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>User story</p>
    </div>
  </div>

  <div class="bgimg-1">
    <div class="caption">
    </div>
  </div>

</div>
