#contact-btn {
  background: linear-gradient(to right, #1d2365, #6c63ff, #1d2365);
  background-size: 200%;
  padding: 10px 24px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  margin: auto;
  transition: background-position 0.6s ease;
  cursor: pointer;
  margin-top: 20px;
  width: 210px;
}

#contact-btn:hover {
  transition: background-position 0.6s ease;
  background-position: right;
  color: white;
}

#contact-btn-small {
  background: linear-gradient(to right, #1d2365, #6c63ff, #1d2365);
  background-size: 200%;
  padding: 10px 24px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  margin: auto;
  transition: background-position 0.6s ease;
  cursor: pointer;
  width: 160px;
}

#contact-btn-small:hover {
  transition: background-position 0.6s ease;
  background-position: right;
  color: white;
}

#submit-btn-small {
  background: grey;
  background-size: 200%;
  padding: 10px 24px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  max-height: 40px;
  transition: background-position 0.6s ease;
  cursor: pointer;
  width: 100px;
}

#submit-btn-small:hover {
  transition: background-position 0.6s ease;
  background-position: right;
  color: white;
}


#discover-btn-bottom {
  background: grey;
  background-size: 200%;
  padding: 10px 24px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  max-height: 40px;
  transition: background-position 0.6s ease;
  cursor: pointer;
  width: 120px;
  margin-top: 14px;
}

#discover-btn-bottom > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

#back-top-btn {
  background: grey;
  background-size: 200%;
  padding: 10px 24px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  max-height: 40px;
  transition: background-position 0.6s ease;
  cursor: pointer;
  width: 140px;
}

#back-top-btn > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}



























