.new-event-container {
  // display: grid;
  // width: 80%;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 10px;
  // grid-auto-rows: minmax(100px, auto);
  // margin: auto;
  margin: 50px auto;
  align-content: center;
  width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  background-color: white;
  padding: 45px;
  border-radius: 5px;
}

.title-event {
  margin: auto;
  grid-column: 1;
}

.new-form {
  grid-columns: 2 / 3;
}

.simple_form.new_event {
  width: 100%;
}

label {
  color: black;
}

