.new-event-content1 {
  margin: 50px auto;
  align-content: center;
  width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //grid-gap: 5rem;
  //background-color: white;
  padding: 45px;
  border-radius: 5px;
  //opacity: 0.6;
}

.title-event1 {
  width: 300px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
}

.new-event-container1 .form-control {
  background-color: #ffffff00;
  color: #f2f2f2;
 }

 .chatroom .form-control {
  width: 750px;
 }

.new-event-container1 .form-control.is-valid:focus {
  background-color: #ffffff00;
  color: #f2f2f2;
 }

.new-event-container1 .form-control:valid.form-control.is-valid {
    border-color: grey;
    color: #f2f2f2;
    }

.new-event-container1 .form-control {
  color: white;
}

.new-event-container1 label {
  background: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  //margin-bottom: 15px;
}

.new-event-container1 input:not(.btn-submit) {
  background: none;
  border: none;
  border-bottom: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  //margin-top: 0px;
}
.new-event-container1 input:not(.btn-submit):hover {
  background: none;
  border: none;
  border-bottom: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  //margin-top: 0px;
}

.new-event-container1 input:focus {
  background: none;
  border-bottom: grey solid 2px; //#6c63ff solid 2px;
  outline: none;
  transition: all 0.6s ease;
}

.new-event-container1 #name .form-group {
  width: 45%;
}



// Save
.new-event-container {
  // display: grid;
  // width: 80%;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 10px;
  // grid-auto-rows: minmax(100px, auto);
  // margin: auto;
  margin: 50px auto;
  align-content: center;
  width: 600px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  background-color: white;
  padding: 45px;
  border-radius: 5px;
  opacity: 0.6;
}

.title-event {
  margin: auto;
  grid-column: 1;
}

.new-form {
  grid-columns: 2 / 3;
}
.new-form1 {
  //background-color:red;
}
.new-form2 {
  //background-color: blue;
  margin-left: 0px;
  width: 220px;
}
.new-form3 {
  //background-color:green;
}
.new-form4 {
  //background-color:red;
  display: flex;
  justify-content: space-between;
}
.new-event-col1 {
  display: block;

}
.new-event-col2 {
  display: block;
}

.new-form3-title {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}
.btn-form-add-event {
  position: relative;
  left: 130px;
}

.simple_form.new_event {
  width: 100%;
}

.new-event-container .form-control {
  background-color: #ffffff00;
  color: #f2f2f2;
 }

.new-event-container .form-control.is-valid:focus {
  background-color: #ffffff00;
  color: #f2f2f2;
 }

.new-event-container .form-control:valid.form-control.is-valid {
    border-color: grey;
    color: #f2f2f2;
    }

.new-event-container .form-control {
  color: white;
}

.new-event-container label {
  background: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.new-event-container input:not(.btn-submit) {
  background: none;
  border: none;
  border-bottom: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
}
.new-event-container input:not(.btn-submit):hover {
  background: none;
  border: none;
  border-bottom: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.new-event-container input:focus {
  background: none;
  border-bottom: grey solid 2px; //#6c63ff solid 2px;
  outline: none;
  transition: all 0.6s ease;
}

.new-event-container #name .form-group {
  width: 45%;
}

#events-new-btn {
  background: linear-gradient(to right, #1d2365, #6c63ff, #1d2365);
  background-size: 200%;
  padding: 16px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 220px;
  margin: auto;
  transition: background-position 0.6s ease;
  cursor: pointer;
  margin-top: 20px;
}

#events-new-btn:hover {
  transition: background-position 0.6s ease;
  background-position: right;
  color: white;
}

.col-form-label {
  background: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

