.container-profile {
  //background-color: #509BF4;
  padding: 20px 20px;
  margin: 0px auto;
}

.container-profile .simple_form {
  width: 100%;
  // max-width: 1000px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 4px;
}

.instrument-add {
  margin-bottom: 10px;
}

.title-profile {
  width: 300px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  width: 100%;
  //background-color: blue;
  justify-content: center;
  align-items: flex-end;
}

.first-profile {
  display: block;
  justify-content: center;
  text-align: center;
  width: 200px;
  //background-color: green;
  margin: 0px 40px;
}

.edit-picture-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
  //padding: 10px 10px;
}

.upload-photo {
  position: relative;
  top: 10px;
  right: 0px;
  border: 1px solid #d3d3d3;
  padding: 2px 18px;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background: none;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
}

.upload-photo a:hover {
  text-decoration: none;
  color: red;
}

.upload-photo a {
  text-decoration: none;
  color: red;
}

.first-row {
  margin-top: 40px;
}

.second-profile {
  display: block;
  justify-content: center;
  text-align: center;
  width: 400px;
  //background-color: red;
  margin: 0px 20px;
}

.third-profile {
  position: relative;
  top: 4px;
  left: 0px;
  margin-left: 40px;
  //height: 100px;
  width: 250px;
  //background-color: red;
}

.description-center {
  text-align: center;
  background: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.instrument-center {
  text-align: center;
  background: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.instrument-text {
  text-align: center;
  color: white;
  font-size: 12px;
}

.my-song {
  width: 250px;
  padding: 15px 35px;
  border: 1px solid #8c8c8c;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.my-media {
  width: 250px;
  padding: 15px 35px;
  border: 1px solid #8c8c8c;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.all-media {
  width: 250px;
  padding: 15px 35px;
  border: 1px solid #8c8c8c;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.instrument-profile {
  width: 250px;
  padding: 15px 35px;
  border: 1px solid #8c8c8c; //white;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.container-profile .form-control {
  background-color: #ffffff00;
  color: #f2f2f2;
  width: 100%;
 }


.container-profile .form-control.is-valid:focus {
  background-color: #ffffff00;
  color: #f2f2f2;
 }

.container-profile .form-control:valid.form-control.is-valid {
    border-color: grey;
    background-color: #ffffff00;
    color: #f2f2f2;
    }

.container-profile .form-control {
  color: white;
}

.input-select-tag-profile {
  border-color: grey;
  background-color: #ffffff00;
  color: #f2f2f2;
  border: grey solid 1px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  width: 100%
}

.container-profile label {
  background: none;
  color: white; //#6c63ff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.container-profile textarea:not(.btn-submit) {
  background: none;
  //border: none;
  //border: white solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  color: white;
  border-color: grey;
}

.container-profile textarea:not(.btn-submit):hover {
  background: none;
  //border: none;
  //border: white solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
  border-color: grey;
}

.container-profile textarea:focus {
  background: none;
  //border: white solid px; //#6c63ff solid 2px;
  outline: none;
  transition: all 0.6s ease;
  color: white;
  border-color: grey;
}

.container-profile input:not(.btn-submit) {
  background: none;
  border: none;
  border-bottom: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.container-profile input:not(.btn-submit) {
  background: none;
  border: none;
  border-bottom: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.container-profile input:not(.btn-submit):hover {
  background: none;
  border: none;
  border: grey solid 2px;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.container-profile input:focus {
  background: none;
  border-bottom: grey solid 2px; //#6c63ff solid 2px;
  outline: none;
  transition: all 0.6s ease;
}

.container-profile #name .form-group {
  width: 45%;
}

#profile-btn {
  background: linear-gradient(to right, #1d2365, #6c63ff, #1d2365);
  background-size: 200%;
  padding: 16px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  margin: auto;
  transition: background-position 0.6s ease;
  cursor: pointer;
  margin-top: 20px;
}

#profile-btn:hover {
  transition: background-position 0.6s ease;
  background-position: right;
  color: white;
}


#contact-btn {
  background: linear-gradient(to right, #1d2365, #6c63ff, #1d2365);
  background-size: 200%;
  padding: 16px;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  margin: auto;
  transition: background-position 0.6s ease;
  cursor: pointer;
  margin-top: 20px;
}

#contact-btn:hover {
  transition: background-position 0.6s ease;
  background-position: right;
  color: white;
}

.btn-position-profile {
  position: relative;
  top: 0px;
  text-align: center;
}

.bottom-container {
  padding: 25px 0px;
}


